accelerate==1.10.1
angelslim==0.2.2
diffusers==0.35.0
einops==0.8.0
huggingface-hub==0.34.0
imageio==2.37.0
imageio-ffmpeg==0.6.0
loguru==0.7.3
modelscope==1.29.2
numpy==1.26.4
omegaconf==2.3.0
openai==2.8.0
peft==0.17.0
pillow==11.3.0
psutil==7.0.0
qwen-vl-utils==0.0.8
safetensors==0.6.2
tokenizers==0.22.1
transformers==4.57.1
