accelerate==1.10.1
dashscope==1.24.6
cryptography==45.0.6
diffusers==0.31.0
easydict==1.13
ftfy==6.3.1
huggingface-hub==0.36.2
imageio==2.37.0
imageio-ffmpeg==0.6.0
numpy==1.26.4
opencv-python-headless==4.11.0.86
tokenizers==0.21.4
transformers==4.51.3
